@model Projeto_PIM.Models.CadCliente
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="https://kit.fontawesome.com/3487a22d87.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/CSS/Login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <script>
    $(document).ready(function () {
        var message = '@TempData["ToastrMessage"]';
        var type = '@TempData["ToastrType"]';

        if (message) {
            if (type === "success") {
                toastr.success(message);
            } else if (type === "error") {
                toastr.error(message);
            }
        }
    });
    </script>

    <title>Login</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><img src="~/Content/IMAGE/LOGO-GRIMPI2.jpg" alt="Logo"></div>
        </div>
    </header>

    <div class="form-container">
        <div class="container">
            <article>
                <section>
                    <h2>Faça Login</h2>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <!-- Resumo de validação -->
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- Campo CPF -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.CPF, "CPF") <i class="fa-solid fa-user"></i>
                            @Html.TextBoxFor(model => model.CPF, new { @class = "form-control", placeholder = "Digite seu CPF" })
                            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                        </div>

                        <!-- Campo Senha -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Senha, "Senha") <i class="fa-solid fa-lock"></i>
                            @Html.PasswordFor(model => model.Senha, new { @class = "form-control", placeholder = "Digite sua senha" })
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        </div>

                        <!-- Botão de Login -->
                        <div>
                            <button type="submit" class="btn btn-success">Entrar</button>
                        </div>
                    }

                    <!-- Botão "Cadastre-se" -->
                <div class="button-container">
                    <a href="@Url.Action("CadCliente", "Home")" class="btn btn-primary">Cadastre-se</a>
                    <a href="@Url.Action("LoginEmpresa", "Home")" class="btn btn-primary">Faça login como empresa!</a>
                </div>
                </section>
            </article>
        </div>
    </div>
</body>
</html>
